<section class="container bg-surface min-h-screen">
    <h1 class="py-5 text-3xl text-primary font-bold">Dashboard</h1>
    <section id="kpis" class="flex justify-between gap-4">
        @for (kpi of kpis; track kpi.title) {
            <div class="flex-1 border border-border rounded-lg">
                <app-kpi [data]="kpi" />
            </div>
        }
    </section>
    <section id="graphics">
        @for(graph of dashboardData; track graph.title){
            <app-graph [data]="graph" />
        }
    </section>
    <section id="chatter">
        <app-chatter />
    </section>
</section>